.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.5rem, 5vw, 5rem);
  position: relative;
  overflow: hidden;
  color: var(--color-white);
}

.landing_bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(./img/flower_shop.jpg);
  background-size: cover;
  background-color: var(--color-green);
  filter: blur(5px) brightness(0.4);
  transform: scale(1.05);
}

.left {
  width: 40%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  z-index: 1;
}

.right {
  width: 60%;
  max-width: 58ch;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 22px;
  font-weight: bold;
  line-height: 2rem;
  z-index: 1;
}

.button {
  padding: 1.1rem 1.3rem;
  font-size: 20px;
  font-weight: 300;
  background-color: var(--color-green);
  color: var(--color-white);
}

.button:hover {
  filter: brightness(1.2);
}

p:first-child {
  text-align: center;
}
